<!DOCTYPE html>
<html>
<head>
    <title>クーポン情報入力</title>
    <link rel="stylesheet" href="../static/css/coupon2.css">
<body>
    <!-- アップロードした写真を表示 -->
    <img id="uploadedPhoto" src="#" alt="アップロードされた写真">

    <!-- お店の情報入力フォーム -->
    <form id="shopInfoForm">
        <label for="shopName">お店の名前：</label>
        <input type="text" id="ShopName" required><br>

        <label for="discountAmount">　　割引額：</label>
        <input type="text" id="DiscountAmount" required><br>

        <label for="expirationDate">　割引期限：</label>
        <input type="date" id="ExpirationDate" required><br>

        <label for="category">カテゴリー：</label>
        <input type="text" id="Category" required><br>
    </form>

    <!-- 決定ボタンと確認メッセージ -->
    <p id="confirmationText">こちらで間違いがなければ決定してください。</p>
    <p id="confirmationText">間違いがあれば変更してください。</p>
    <button id="Decision" onclick="navigateToQpComp()">決定</button>
    
    <script>
        // ページが読み込まれた際にアップロードされた写真を表示
        window.onload = function() {
            const photoPreview = document.getElementById('uploadedPhoto');
            const imageUrl = sessionStorage.getItem('uploadedImageUrl');
            if (imageUrl) {
                photoPreview.src = imageUrl;
            }
        };

        // 決定ボタンをクリックした際にqpcomp.htmlに遷移
        function navigateToQpComp() {
            window.location.href = "qpcomp.html";
        }
    </script>
</body>
</html>