<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>qpON→GO - クーポン追加</title>
        <link rel="stylesheet" href="../static/css/coupon.css">
    </head>
    <body>
        <h1>クーポン写真アップロード</h1>
        {% with flash = get_flashed_messages() %}
            {% if flash[0] %}
            <p class="flash">{{ flash[0] }}</p>
            {% else %}
            <p id="message"></p>
            {% endif %}
        {% endwith %}
        <form method="POST" enctype="multipart/form-data">
            <div class="camera">
                <video id="video" autoplay width="400px" height="300px"></video>
                <canvas id="canvas" width="0px" height="0px"></canvas>
            </div>
            <p class="enter">Enterキーを押すと写真撮影</p><br>
            <input type="file" name="image" accept="image/*" multiple>
            <input type="submit" id="submit" value="決定">
        </form>
        

        <script type="text/javascript" src="../static/js/coupon.js"></script>
    </body>
</html>
