<!DOCTYPE html>
<html lang="ja">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>qpON→GO! - ホーム</title>
      <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
      <img src="../static/img/logo.png">
      <h1>qpON→GO</h1>
      <div class="edit">
            <button>クーポンを登録</button>
      </div>
      
      <div class="main">
            {% if user_data %}
            <table>
                  <tr>
                        <th>id</th>
                        <th>有効期限</th>
                        <th>割引内容</th>
                        <th>店名</th>
                        <th>カテゴリー</th>
                        <th>備考</th>
                  </tr>
                  {%for ud in user_data%}
                  <tr>
                        <td>{{ud.id}}</td>
                        <td>{{ud.date}}</td>
                        <td>{{ud.discount}}</td>
                        <td>{{ud.store}}</td>
                        <td>{{ud.category}}</td>
                        <td>{{ud.remarks}}</td>
                  </tr>
                  {%endfor%}
            </table>      
            {%else%}
                  <p>登録されているクーポンはありません</p>
            {% endif %}
      </div>

</body>
</html>