<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>qpON→GO! - ホーム</title>
</head>
<body>
      <h1>アプリ本体</h1>
      <a href="/coupon">クーポンを登録</a>
      {% if user_data %}
      <table>
            <tr>
                  <th>id</th>
                  <th>有効期限</th>
                  <th>割引内容</th>
                  <th>店名</th>
                  <th>カテゴリー</th>
                  <th>備考</th>
            </tr>
            {%for ud in user_data%}
            <tr>
                  <th>{{ud.id}}</th>
                  <th>{{ud.date}}</th>
                  <th>{{ud.discount}}</th>
                  <th>{{ud.store}}</th>
                  <th>{{ud.category}}</th>
                  <th>{{ud.remarks}}</th>
            </tr>
            {%endfor%}
      </table>      
      {%else%}
            <p>登録されているクーポンはありません</p>
      {% endif %}
</body>
</html>